.color-example {
    background-color: rgba(0, 255, 255, 0);
} 

.background-example {
    background-image: url('flower.png');
    height: 300px;
    width: 300px;
    background-position: right;
    opacity: 1;
}