.flexContainer {
    /* flex direction row is the default value */
    display: flex;
    /* flex-direction: column; */

    /* flex-start is the default 
    Note, for multiple effects, the last one will be the one to be implemented  */
    /* other justify-content: */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    justify-content: flex-start;
    
    /* For the column position of the elements  */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    align-items: stretch;

    /* For flexibility/accessibility for multiple devices
    Goal is for the website to be responsive 
    Default value is nowrap
    other flex-wrap:
    */
    /* flex-wrap: nowrap; */
    flex-wrap: wrap-reverse;
    /* flex-wrap: wrap; */
}

/* Adjusting an item at a time */
.flexItem2 {
    align-self: flex-start;
}

/* Adding Flex Grow -> an item's willingness to grow 
    1 -> less willing
    2 -> more willing
    3 -> most willing
*/
/* .flexItem1 {
    flex-grow: 2;
}

.flexItem2 {
    flex-grow: 1;
}

.flexItem3 {
    flex-grow: 3;
} */

/* Flex Shrink -> willingness to shrink 
    1 -> less willing
    2 -> more willing
    3 -> most willing
*/
.flexItem1 {
    flex-shrink: 2;
}

.flexItem2 {
    flex-shrink: 1;
}

.flexItem3 {
    flex-shrink: 3;
}